[global]
# folder locations
logs = logs
data = data
models = models
config = configs

[paths]
# path to training results
training_results = runs/results.pkl

# path to preprocessing settings yaml
data_params_path = ${global.config}/data.yaml

# path to root dir of raw images
raw_data_path = ${global.data}/raw/ 

# path to df with the potential labels
# raw_df_path = ${global.data}/raw/test_df.pkl 
raw_df_path = ${global.data}/raw/df.pkl 

# Path the processed images
processed_data_path = ${global.data}/processed/ 

# paths to the df that contain the respective test/train/validation splits
test_df_path =  ${global.data}/processed/test.pkl
train_df_path = ${global.data}/processed/train.pkl
validation_df_path = ${global.data}/processed/validation.pkl

# logging path
log_path = ${global.logs}/training_log.txt

# training
model_path = ${global.models}/model.pt
best_model_path = ${global.models}/best_model.pt
model_params_path = ${global.config}/model.yaml

# tensorboard
tensorboard_dir = runs

# DVC
dvc_pipeline_path = dvc.yaml